<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <title>SOAS - Create an account</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/styleAccount.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Create an account</h2>
                    <%- include('../aleart/aleart.ejs') %> 
                    <form method="POST" action="/user/register" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="pass" id="pass" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service" data-toggle="modal" data-target="#exampleModalCenter">Terms of service</a></label>
                            <!-- start term-service -->
                            <!-- Button trigger modal -->
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content p-4 text-black">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Term of privacy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark    ">
                    <h2>Purpose and scope of collection</h2>
                    <p>The main data collection on the SOAS exchange includes:</p>
                    <ul>
                        <li>Members participate in the auction are required to provide information sufficient account (username, password) and information individual member ( Full name, date of birth, gender, residential address residence, cmnd number, phone number, occupation, email , company information ... ) completely correct for SOAS trading floor to contact and confirm when customers register to use the service on the website to ensure the interests of consumers.</li>
                        <li>The members will be solely responsible for the confidentiality and retention of all services using the service under their registered name, password and email. In addition, members are responsible for promptly informing the SOAS E- commerce Exchange of illegal use, abuse, security breaches, keeping registered names and passwords of third parties for a reasonable defense. suitable settlement.</li>
                    </ul>
                    <h2>Scope of using information</h2>
                    <p>SOAS exchange uses the information provided by members to:</p>
                    <ul>
                        <li>Providing services to Members;</li>
                        <li>Sending notices of information exchange activities between members and the SOAS Exchange</li>
                        <li>Prevent activities of destroying member's user accounts or fraudulent activities of Members</li>
                        <li>Contact and deal with a member in special cases</li>
                        <li>Do not use a member's personal information for the purpose of confirming and contacting transactions at SOAS E- commerce Exchange.</li>
                        <p>In case of legal requirements: SOAS e-commerce trading floor is responsible for cooperating in providing member's personal information upon request from judicial agencies, including: Procuracy, courts, public agencies Security investigation related to certain legal violations of customers. In addition, no one has the right to infringe on the personal information of members.</p>
                    </ul>
                    <h2>Time to store information</h2>
                    <p>Personal data of Members will be stored until there is a request to cancel or member login and perform cancellation. The rest of the member's personal information will be kept confidential in all cases on the servers of SOAS E- commerce Exchange .</p>
                    <h2>Means and tools for users to access and correct their personal data.</h2>
                    <p>Members have the right to self-check, update, adjust or cancel their personal information by logging in to their account and editing personal information or asking SOAS E- commerce Exchange to do this.</p>
                    <p>Members have the right to file complaints about the disclosure of personal information to a third party to the Board of Directors of SOAS E- commerce Exchange . Upon receiving these feedbacks, SOAS E- commerce Trading Floor will confirm the information, must be responsible for answering the reason and guide members to restore and secure the information.</p>
                    <h2>Commitment to protecting personal information of customers</h2>
                    <p>Personal information of members on the e-commerce transaction floor SOAS was e-commerce transaction floor SOAS committed to absolute confidentiality policy protects the personal information of the e-commerce transaction floor SOAS . The collection and use of each member's information can only be performed with the consent of that customer, unless otherwise provided by law.</p>
                    <p>Do not use, do not transfer, provide or disclose to any third party about the member's personal information without the member's consent.</p>
                    <p>In case the information storage server is attacked by hacker resulting in the loss of member personal data, SOAS e-commerce trading floor will be responsible for notifying the case to the investigating authorities for timely processing and notification. let members know.</p>
                    <p>Management Board of SOAS e-commerce trading floor requires individuals who register / purchase to be members to provide all relevant personal information such as: Full name, contact address, email, phone number. And are responsible for the legality of the above information. The Management Board of SOAS E- commerce Trading Floor is not responsible for nor resolves all complaints related to the interests of that Member if it considers all personal information of that member provided upon initial registration. is not correct.</p>
                    <p>In case Buyer sends complaints related to the confidentiality of customer information: Upon receipt of information, the SOA will quickly carry out the inspection and verification. In the correct case as reflected by Buyer, the SOA will contact Buyer directly to process the case in good faith and recovery. In case the two parties cannot reach an agreement, they will be brought to the competent People's Court to resolve.</p>
                    <p>SOAS's customer information security policy is only applied at SOAS website address. It does not include or relate to other third parties that place advertisements or have links at SOAS.</p>
                    <h1>DISPUTE RESOLUTION PROCESS</h1>
                    <p>SOAS e-commerce trading floor and seller / supplier (NCC) are always responsible for receiving and handling Members' complaints related to transactions on SOAS website.</p>
                    <p>Customer has the right to send a complaint about the service quality not in accordance with the description, the disclosed payment information causing damage to the Board of Directors of Topgia.vn trading floor. Upon receiving these responses, SOAS will reconfirm the information, in case it is true to the member's reflection depending on the degree, SOAS will take timely measures.</p>
                    <ul>
                        <div class="font-weight-bold">Customers send complaints at:</div>
                        <li>Tel/Fax: (04) 899206215 - Email: sales@soa.vn * Steps to resolve disputes and complaints</li>
                        <li>Step 1: Customer Care Department of the System complaints from a Member / NCC will be accepted . This department will take action to quickly resolve and immediately respond to the results of resolving complaints on the basis of the policies announced by the System.</li>
                        <li>Step 2: In case of complication or not specified in the policies announced by the System , Customer Care Department will commit the time limit to respond to Member / NCC not more than 7 days.</li>
                        <li>Step 3: Transfer complaint settlement results to relevant departments for implementation (Accounting - Finance, Delivery ...) and call to confirm with Members / NCC about the results. the complaint has been resolved. SOAS respects and strictly observes the provisions of the law on the protection of members' rights. Therefore, it is suggested that the NCCs on the website are responsible for providing complete, accurate, truthful and detailed information related to the service. All frauds and frauds in business are condemned and must be fully responsible before the law. We publicize the mechanism to resolve disputes arising during transactions on the SOAS website. When a consumer buys a service that has a conflict with the provider or has his legitimate interests compromised, SOAS will be responsible for receiving the reflected information. Responsible for solving related issues, actively supporting members to protect their legitimate rights and interests. SOAS publicly discloses the dispute settlement mechanism and process for related parties: dispute settlement under the agreed exchange mechanism, the related parties will follow the process of indirect communication via electricity. phone, confirmation by email, if there is still no agreement, it will be solved through face-to-face meetings to concretize the problem, thoroughly resolve the conflict between the parties in the best way. Parties including NCC, Member and SOAS will have a responsible role in actively solving the problem. NCC should be responsible for providing documents to prove information related to the incident that is causing conflicts to customers. For buying services, it will be the referee's responsibility to listen and receive information from the customer (in specific cases we will: request the customer to be responsible for providing accurate intangible information. and the tangible issue of an arising conflict that needs to be resolved that the customer has found himself damaged) and NCC, then proceeds to review and specify, and analyze the fault on which side. Get opinions on the agreement of the two parties' reimbursement and end the most satisfactory dispute resolution. In the case of proving that the fault belongs to NCC: SOAS has a warning measure, requires reimbursement for all costs that the Member spent to use that service or must return the service with the right quality that NCC announced at SOAS. If NCC violates, SOAS will terminate and remove all that NCC information on SOAS. If for some objective reason, the disputed transaction can not be resolved, it cannot be concluded that the fault belongs to either party, SOAS will be responsible for reimbursing the damaged party. for customers. After that, SOAS will work with the party that caused the damage to adequately ensure the benefit of the victim. And all liability information related to legal later will be handled by SOAS itself as the owner of the SOAS Exchange with the competent authorities without any involvement with the customer. If through the form of agreement, it is still not possible to resolve the conflict arising from the transaction, SOAS will ask the competent law to intervene to ensure the legitimate interests of the parties, especially for customers row.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/mainAccount.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>