#APPLICATION ENV
APP_PORT = 8080
APP_HOST = localhost

#MONGODB ENV
MONGO_USERNAME = dungphan
MONGO_PASSWORD = 87aPgVf1kNTBexrp
MONGO_HOST = cluster0.7lcj9.mongodb.net
MONGO_PORT = 
MONGO_DB_NAME = auction
MONGO_OPTIONS = ?retryWrites=true&w=majority

#MAIL
EMAIL_USER= your email
EMAIL_PASSWORD= your password
EMAIL_HOST= smtp.gmail.com
EMAIL_PORT= 587

#CLOUDINARY ENV
CLOUDINARY_NAME = edtu
CLOUDINARY_KEY = 648272214659224
CLOUDINARY_SECRET = lA2GMKRNX7gp6joY9FnSYPFLuqw

#API
API_VERSION = v1

#SESSION
SESSION_KEY = express.sid
SESSION_SECRET = mySecret
SESSION_STORE_COLLECTION = mySessions
SESSION_STORE_AUTO_REMOVE_MODE = native
