<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Secure Online Auction System (SOAS) is a system that helps users to participate in the purchase, sale and auction of products on a secure and convenient web platform.">
    <meta name="keywords" content="Secure Online Auction System, SOAS, auction, online auction, auction system, đấu giá, đấu giá trực tuyến">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="YHaYJyTNOUKv-QdlfduThI49hlHLDVGnIospS5VioJw" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <% if(title){ %>
        <title><%- title%></title>
    <%}else{%>
        <title>'SOAS. - Online auction Products'</title>
    <%}%>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="/css/style.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/alertify/alertify.css" type="text/css">
    <script src="/js/anime.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/products/socket.js"></script>
    <script src="/js/products/product.js"></script>
</head>

<body>
