<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>

    <ul class="offcanvas__widget">
        <div>

        </div>
        <li class="offcanvas__logo"><a href="/"><img src="img/logo.png" alt="SOAS."></a></li>
        <li><a href="#"><span class="fa fa-gavel"></span>
                <div class="tip">2</div>
            </a></li>
        <li><a href="#"><span class="fa fa-shopping-cart"></span>
                <div class="tip">2</div>
            </a></li>
    </ul>
    <div class="offcanvas__auth align-middle">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" alt="SOAS."></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="header__search input-group">
                    <input type="text" class="search_bar form-control" placeholder="Search here">
                    <div class="input-group-append">
                        <button class="search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="header__right">

                    <ul class="header__right__widget">
                        <li><a href="#"><span class="fa fa-gavel"></span>
                                <div class="tip">2</div>
                            </a></li>
                        <li><a href="#"><span class="fa fa-shopping-cart"></span>
                                <div class="tip">2</div>
                            </a></li>
                    </ul>
                   
                    <div class="header__right__auth">
                        <%- include ('./user-menu.ejs')  %>                 
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #1e8fb3;">
        <div class="container row mx-auto">
            <nav class="header__menu col-xl-3 col-lg-2 mx-auto">
                <ul>
                    <li><a href="#"><h3><i class="fa fa-bars mr-2" style="font-size: larger;"
                        aria-hidden="true"></i>Category</h3></a>
                        <ul class="dropdown">
                            <li><a href="#"><h4>Real Estate</h4></a></li>
                            <li><a href="#"><h4>Antique</h4></a></li>
                            <li><a href="#"><h4>Vehicles</h4></a></li>
                            <li><a href="#"><h4>Electronic</h4></a></li>
                            <li><a href="#"><h4>Furnitures</h4></a></li>
                            <li><a href="#"><h4>Kid & Toys</h4></a></li>
                            <li><a href="#"><h4>Fashion</h4></a></li>
                            <li><a href="#"><h4>Travel</h4></a></li>
                            <li><a href="#"><h4>Sport</h4></a></li>
                            <li><a href="#"><h4>Tools</h4></a></li>
                            <li><a href="#"><h4>Groceries</h4></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="header__menu col-xl-9 col-lg-10 text-right">
                <ul>
                    <li class="active"><a href="/products"><h3>Home</h3></a></li>
                    <li><a href="/"><h3>Posts</h3></a></li>
                    <li><a href="/"><h3>Livestream</h3></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Header Section End -->