<% if (isLogged === true) { %>
    <div class="avatar d-block">
        <img src="<%-user.avatarUrl%>" id="avt-pic" alt="Avatar" class="d-inline rounded-circle" style="width: 30px; height: 30px; margin-top:-9px; cursor: pointer;"> 
        <div class="position-absolute usr-control" id="user-profile" style="display: none">
            <ul>
                <li><a href="/user/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</a></li>
                <li><a href="/user/change-password"><i class="fa fa-key" aria-hidden="true"></i>Change password</a></li>
                <hr>
                    <%if(user.role === 'buyer'){%>
                        <li><a href="/user/apply-seller"><i class="fa fa-handshake-o" aria-hidden="true"></i>Be a seller</a></li>
                    <%}%>
                    <%if(user.role === 'seller'){%>
                        <li><a href="/products/add"><i class="fa fa-money" aria-hidden="true"></i>Sell a product</a></li>
                        <li><a href="/products/manage"><i class="fa fa-tasks" aria-hidden="true"></i>Manage products</a></li>
                    <%}%>
                <hr>
                <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
            </ul>
        </div>
    </div>    
    <script src="/js/menuProcessing.js"></script>
<% }  %>

<% if (isLogged === false) { %>
    <div class="need-account d-block">
        <a href="/login">Login</a>
        <a href="/user/register">Register</a>
    </div>
<% } %>
