<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="SOAS - Admin">
    <meta name="description"
        content="This is Admin page of Secure Online Auction System - SOAS">
    <meta name="robots" content="noindex,nofollow">
    <title>SOAS Admin</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/adminvendors/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/admincss/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admincss/alertify/alertify.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/products">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/img/logo.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/img/logo-light.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-search" style="line-height: 5;"> </i> Search...</a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img hidden
                                    src="/img/users/5.jpg" alt="user" class="rounded-circle"
                                    width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div hidden class="user-pic"><img src="/img/users/5.jpg" alt="users"
                                        class="rounded-circle" width="40" /></div>
                                <div class="user-content hide-menu m-l-10">
                                    <!-- <a href="javascript:void(0)" class="" id="Userdd" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium"><i
                                                class="fa fa-angle-down"></i></h5>
                                        <span class="op-5 user-email">hoanvn1999@gmail.com</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                    </div> -->
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                        
                        <!-- User Profile-->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/admin" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                class="hide-menu">Dashboard</span></a></li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/listAccount" aria-expanded="false"><i class="mdi mdi-account"></i><span
                                    class="hide-menu">List Accounts</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/admin/listProduct" aria-expanded="false"><i class="mdi mdi-gift"></i><span
                                class="hide-menu">List product</span></a></li>
                        <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="starter-kit.html" aria-expanded="false"><i class="mdi mdi-file"></i><span
                                    class="hide-menu">Blank</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="error-404.html" aria-expanded="false"><i class="mdi mdi-alert-outline"></i><span
                                    class="hide-menu">404</span></a></li> -->
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-right">
                            <a href="/" class="btn btn-danger text-white"
                                target="_blank">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Summary</h4>
                                        <h5 class="card-subtitle">Overview of Latest Month</h5>
                                    </div>
                                    <div class="ml-auto d-flex no-block align-items-center">
                                        <ul class="list-inline font-12 dl m-r-15 m-b-0">
                                            <li class="list-inline-item text-info"><i class="fa fa-circle"></i> Product
                                            </li>
                                            <li class="list-inline-item text-primary"><i class="fa fa-circle"></i> User
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-12">
                                        <div class="campaign ct-charts"></div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bug Reports</h4>
                                <div class="comment-widgets scrollable" style="height:263px;">
                                    <!-- Comment Row -->
                                    <div class="d-flex flex-row comment-row m-t-0">
                                        <div class="p-2 w-25">
                                            <img src="/img/users/4.jpg" alt="user"class="rounded-circle img-fluid">
                                        </div>
                                        <div class="comment-text w-75">
                                            <h6 class="font-medium">Thuy Ngan</h6>
                                            <div class="comment-footer">
                                                <span class="small text-muted">April 14, 2020</span>
                                                <span class="m-b-15 d-block">Lorem Ipsum is simply dummy text of the printing
                                                    and type setting industry. </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">New Sellers</h4>
                                        <h5 class="card-subtitle">Latest registration</h5>
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Seller</th>
                                            <th class="border-top-0">Username</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="border-top-0">Phone</th>
                                            <th class="border-top-0">Address</th>
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Control</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="m-r-10"><a
                                                            class="btn btn-circle d-flex btn-orange text-white">TL</a>
                                                    </div>
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">Thanh Long</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>thanhlongit</td>
                                            <td>long@example.com</td>
                                            <td>
                                                0912345678
                                            </td>
                                            <td>Lien Chieu - Da Nang</td>
                                            <td><label class="label label-warning">Pending</label></td>
                                            <td>
                                                <a href="javascript:void(0)"><i class="p-1 fa fa-times-circle text-white bg-danger rounded"></i></a>
                                                <a href="javascript:void(0)"><i class="p-1 fa fa-check text-white bg-success rounded"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="m-r-10"><a
                                                            class="btn btn-circle d-flex btn-success text-white">XD</a>
                                                    </div>
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">Xuan Dung</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>xuandung</td>
                                            <td>dung@example.com</td>
                                            <td>
                                                0912345678
                                            </td>
                                            <td>Quang Nam</td>
                                            <td><label class="label label-success">Accepted</label></td>
                                            <td>
                                                <a href="javascript:void(0)"><i class="p-1 fa fa-times-circle text-white bg-danger rounded"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">New Products</h4>
                            </div>
                            <div class="comment-widgets scrollable" style="height:430px;">
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row m-t-0">
                                    <div class="p-2"><img src="/img/users/1.jpg" alt="user" width="50"
                                            class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Essential structured blazer</h6>
                                        <div class="m-b-15 d-block">
                                            <span>
                                                <b>ABC Store</b>
                                                <div class="text-warning d-inline">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </span>
                                            <div>
                                                <b>Start time:</b>
                                                <span>December 14, 2020 16:30:00</span></div>
                                            <div>
                                                <b>End time:</b>
                                                <span>December 14, 2020 18:30:00</span>
                                            </div>
                                            <div>
                                                <b>Current Price:</b>
                                                <span>$30</span>
                                            </div>
                                            <div>
                                                <b>Step:</b>
                                                <span>$10</span>
                                            </div>
                                            <div>
                                                <b>Expected Price:</b>
                                                <span>$300</span>
                                            </div>
                                            <div>
                                                <b>Description:</b>
                                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti optio beatae aliquid iusto voluptates amet maxime praesentium, maiores consequuntur vitae natus quas labore eius quisquam similique eos accusamus. Ipsa?</span>
                                            </div>
                                        </div>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">April 14, 2016</span> 
                                            <span class="label label-rounded label-primary">Pending</span> 
                                            <span class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-na"></i></a>
                                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="/img/users/4.jpg" alt="user" width="50"
                                            class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Essential structured blazer</h6>
                                        <div class="m-b-15 d-block">
                                            <span>
                                                <b>ABC Store</b>
                                                <div class="text-warning d-inline">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </span>
                                            <div>
                                                <b>Start time:</b>
                                                <span>December 14, 2020 16:30:00</span></div>
                                            <div>
                                                <b>End time:</b>
                                                <span>December 14, 2020 18:30:00</span>
                                            </div>
                                            <div>
                                                <b>Current Price:</b>
                                                <span>$30</span>
                                            </div>
                                            <div>
                                                <b>Step:</b>
                                                <span>$10</span>
                                            </div>
                                            <div>
                                                <b>Expected Price:</b>
                                                <span>$300</span>
                                            </div>
                                            <div>
                                                <b>Description:</b>
                                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti optio beatae aliquid iusto voluptates amet maxime praesentium, maiores consequuntur vitae natus quas labore eius quisquam similique eos accusamus. Ipsa?</span>
                                            </div>
                                        </div>
                                        <div class="comment-footer ">
                                            <span class="text-muted float-right">April 14, 2016</span>
                                            <span class="label label-success label-rounded">Approved</span>
                                            <span class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-na"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="/img/users/5.jpg" alt="user" width="50"
                                            class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Essential structured blazer</h6>
                                        <div class="m-b-15 d-block">
                                            <span>
                                                <b>ABC Store</b>
                                                <div class="text-warning d-inline">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </span>
                                            <div>
                                                <b>Start time:</b>
                                                <span>December 14, 2020 16:30:00</span></div>
                                            <div>
                                                <b>End time:</b>
                                                <span>December 14, 2020 18:30:00</span>
                                            </div>
                                            <div>
                                                <b>Current Price:</b>
                                                <span>$30</span>
                                            </div>
                                            <div>
                                                <b>Step:</b>
                                                <span>$10</span>
                                            </div>
                                            <div>
                                                <b>Expected Price:</b>
                                                <span>$300</span>
                                            </div>
                                            <div>
                                                <b>Description:</b>
                                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti optio beatae aliquid iusto voluptates amet maxime praesentium, maiores consequuntur vitae natus quas labore eius quisquam similique eos accusamus. Ipsa?</span>
                                            </div>
                                        </div>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">April 14, 2016</span>
                                            <span class="label label-rounded label-danger">Rejected</span>
                                            <span class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">New Livestreams</h4>
                            </div>
                            <div class="comment-widgets scrollable" style="height:430px;">
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row m-t-0">
                                    <div class="p-2"><img src="/img/users/1.jpg" alt="user" width="50"
                                            class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Essential structured blazer</h6>
                                        <div class="m-b-15 d-block">
                                            <span>
                                                <b>ABC Store</b>
                                                <div class="text-warning d-inline">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </span>
                                            <div>
                                                <b>Start time:</b>
                                                <span>December 14, 2020 16:30:00</span></div>
                                            <div>
                                                <b>End time:</b>
                                                <span>December 14, 2020 18:30:00</span>
                                            </div>
                                            <div>
                                                <b>Current Price:</b>
                                                <span>$30</span>
                                            </div>
                                            <div>
                                                <b>Step:</b>
                                                <span>$10</span>
                                            </div>
                                            <div>
                                                <b>Expected Price:</b>
                                                <span>$300</span>
                                            </div>
                                            <div>
                                                <b>Description:</b>
                                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti optio beatae aliquid iusto voluptates amet maxime praesentium, maiores consequuntur vitae natus quas labore eius quisquam similique eos accusamus. Ipsa?</span>
                                            </div>
                                        </div>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">December 14, 2020</span> 
                                            <span class="label label-rounded label-primary">Pending</span> 
                                            <span class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-na"></i></a>
                                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="/img/users/4.jpg" alt="user" width="50"
                                            class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Essential structured blazer</h6>
                                        <div class="m-b-15 d-block">
                                            <span>
                                                <b>ABC Store</b>
                                                <div class="text-warning d-inline">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </span>
                                            <div>
                                                <b>Start time:</b>
                                                <span>December 14, 2020 16:30:00</span></div>
                                            <div>
                                                <b>End time:</b>
                                                <span>December 14, 2020 18:30:00</span>
                                            </div>
                                            <div>
                                                <b>Current Price:</b>
                                                <span>$30</span>
                                            </div>
                                            <div>
                                                <b>Step:</b>
                                                <span>$10</span>
                                            </div>
                                            <div>
                                                <b>Expected Price:</b>
                                                <span>$300</span>
                                            </div>
                                            <div>
                                                <b>Description:</b>
                                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti optio beatae aliquid iusto voluptates amet maxime praesentium, maiores consequuntur vitae natus quas labore eius quisquam similique eos accusamus. Ipsa?</span>
                                            </div>
                                        </div>
                                        <div class="comment-footer ">
                                            <span class="text-muted float-right">April 14, 2016</span>
                                            <span class="label label-success label-rounded">Approved</span>
                                            <span class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-na"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="/img/users/5.jpg" alt="user" width="50"
                                            class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Essential structured blazer</h6>
                                        <div class="m-b-15 d-block">
                                            <span>
                                                <b>ABC Store</b>
                                                <div class="text-warning d-inline">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </span>
                                            <div>
                                                <b>Start time:</b>
                                                <span>December 14, 2020 16:30:00</span></div>
                                            <div>
                                                <b>End time:</b>
                                                <span>December 14, 2020 18:30:00</span>
                                            </div>
                                            <div>
                                                <b>Current Price:</b>
                                                <span>$30</span>
                                            </div>
                                            <div>
                                                <b>Step:</b>
                                                <span>$10</span>
                                            </div>
                                            <div>
                                                <b>Expected Price:</b>
                                                <span>$300</span>
                                            </div>
                                            <div>
                                                <b>Description:</b>
                                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti optio beatae aliquid iusto voluptates amet maxime praesentium, maiores consequuntur vitae natus quas labore eius quisquam similique eos accusamus. Ipsa?</span>
                                            </div>
                                        </div>
                                        <div class="comment-footer">
                                            <span class="text-muted float-right">April 14, 2016</span>
                                            <span class="label label-rounded label-danger">Rejected</span>
                                            <span class="action-icons">
                                                <a href="javascript:void(0)"><i class="ti-check"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved with <i class="fa fa-heart" aria-hidden="true"></i>. Designed and Developed by <a
                    href="https://fb.com/hoan.glad">C1.SE08</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/adminvendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/adminvendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/adminvendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="/adminvendors/chartist/dist/chartist.min.js"></script>
    <script src="/adminvendors/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="js/pages/dashboards/dashboard1.js"></script>
</body>

</html>