<!-- Header -->
<%- include ('./../common/header/header.ejs') %>

<!-- Menu -->
<%- include ('./../common/menu/menu.ejs') %>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="./"><i class="fa fa-home"></i> Home</a>
                  <span>Change password</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="top__area spad">
    <div class="container bg-white p-5 rounded">
      <form class="form-horizontal" method="post" role="form" action="">
        <div class="row">
          <div class="col-lg-6 col-md-6 align-items-center d-flex">
            <div class="w-100">
              <div>
                <div class="section-title">
                    <h4>Change Password</h4>
                </div>
            </div>
              <div class="row">
                <div class="alert alert-danger alert-dismissable user-modal-alert-error d-none">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <span>Update user error example.</span>
                </div>

                <div class="alert alert-success alert-dismissable user-modal-alert-success d-none">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <span>Update user success example.</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                    <label for="iursname" class="text-left font-weight-bold">Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="input-change-current-password" name="user-name"
                        placeholder="Enter your current password">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                  <label for="iursname" class="text-left font-weight-bold">New password<span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="input-change-new-password" name="user-name"
                      placeholder="Enter new password">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                  <label for="iursname" class="text-left font-weight-bold">Confirm new password<span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="input-change-confirm-password" name="user-name"
                      placeholder="Enter confirm new password">
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 text-center">
                  <button type="button" class="btn btn-info mr-5" id="input-btn-update-pass">Update</button>
                  <button type="button" class="btn btn-danger" id="input-btn-reset-pass">Cancel</button>
                </div>
            </div>
          </div>
          </div>
          <div class="col-md-6">
            <div class="signup-image">
              <figure><img src="/images/signup-image.jpg" alt="sing up image" class="img-fluid"></figure>
          </div>
          </div>
        </div>
      </form>



    </div>
</section>
<!-- Product Section End -->

<!-- Footer -->
<%- include ('./../common/footer/footer.ejs') %>
